.product {
    text-align: center;
    width: 20em;
    height: 26em;
}

.price {
    text-align: end;
    padding-right: 3em;
    font-weight: 700;
    font-size: 1.4rem;
}

.title {
    font-weight: 500;
    font-size: 1.2rem;
}

img {
    width: 220px;
    height: 255px;
}